/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 1.5%;

  background: rgba(251, 251, 251, 0.248);
  //   background-image: radial-gradient(rgba(243, 202, 173, 0.337) 1px, transparent 0);
  //   background-size: 5px 5px;
  //   background-position: -19px -19px;
}

#configuration {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  
  #header {
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5%;
    
    #logos {
      display: flex;
      align-items: center;
      #rmqlogo, #vmqlogo {
        width: 3vw;
        height: auto;
      }
    
      #collab {
        width: 2vw;
        height: auto;
        margin-left: .9vw;
        margin-right: 1vw;
      }
    }

    #router-links {
      height: 100%;
      // border: 1px solid black;
      padding: 1.5%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // transition: all .3s ease 0s;
    }
    
    .link-left {
      // border: 1px solid black;
      // margin-left: 65%;
      height: 100%;
      justify-self: flex-end;
      border: 1px solid #ff6600;
      color: white;
      border-radius: 3px;
      padding: 1.5% 3%;
      background-color: rgb(255, 102, 0);
      margin-left: 3%;
      margin-right: 3%;
    }

    .link-right {
      // border: 1px solid black;
      height: 100%;
      width: 10%;
      justify-self: flex-end;
      border: 1px solid #ff6600;
      color: white;
      border-radius: 3px;
      padding: .5% 2%;
      background-color: rgb(255, 102, 0);
      svg {
        width: 100%;
      }
    }

        #input-right {
          // border: 1px solid black;
          height: 100%;
          width: 10%;
          justify-self: flex-end;
          border: 1px solid #ff6600;
          color: #ff6600;
          border-radius: 3px;
          padding: .5% 2%;
          background-color: transparent;
          outline: none;
          font-size: .7rem;
          text-align: center;
          transition: all .3s ease 0s;
        }

        .link-left:hover {
      background-color: #ff8f45;
    }

        .link-left:active {
      background-color: #ea5e01;
    }
        .link-right:hover {
      background-color: #ff8f45;
    }

        .link-right:active {
      background-color: #ea5e01;
    }

  }

  #mgmt-api {
    // border: 1px solid black;
    position: fixed;
    top: 70vh;
    // height: 87vh;
    //   width: 100%;
    //   overflow: scroll;
    padding: 1.5%;
      height: 100vh;
        width: 100%;
        transform-origin: top ;
        transform: scale(50%);
      zoom: 80%;
  }

  #metrics {
    // border: 1px solid black;
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // padding: 1.5%;
  
    #top-container {
      border: 1px solid #ff6600;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
  
        height: 50%;
        width: 100%;
        
        #user-info {
          height: 10%;
          width: 100%;
          font-size: .75rem;
          color: #ff6600;
          background-color: transparent;
          padding: 0 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          // background: white;
            background-image: radial-gradient(rgba(243, 202, 173, 0.337) 1px, transparent 0);
            background-size: 5px 5px;
            background-position: -19.75px -15.5px;
        }

        .divider {
          width: 98%;
          border-bottom: 1px solid #ff6600a7;
        
        }
        .vert-divider {
          height: 90%;
          border-right: 1px solid #ff6600a7;
        }

        #rabbit-elements {
          height: 90%;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          
          
          #pubsub {
            padding: 1%;
            height: 100%;
              width: 20%;
              display: flex;
              flex-direction: column;
            // border: 1px solid black;
            overflow: scroll;
            scrollbar-width: none;

            .queue-selector {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: .75rem;
              color: rgb(82, 82, 82);
              background-color: white;
              min-height: 14%;
              width: 100%;
              border-radius: 3px;
              transition: all .1s ease 0s;
              // box-shadow: inset 0px 0px 3px .5px rgb(226, 226, 226);
              border: 1px solid rgb(226, 226, 226);
              margin-bottom: 5%;
            }

            .queue-selector:hover {
              // background-color: rgb(220, 220, 220);
              border: 1px solid #ff6600;
            }

            .queue-selector:active {
              background-color: rgb(242, 242, 242);
              border: 1px solid #ff6600;
            }
          }

          #pubsub::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
          }
          
          #stats {
            height: 100%;
              width: 80%;
            // border: 1px solid green;
            display: flex;
            flex-wrap: wrap;
            padding: 2%;
            gap: 3%;

            // background: white;
            //   background-image: radial-gradient(rgba(243, 202, 173, 0.337) 1px, transparent 0);
            //   background-size: 5px 5px;
            //   background-position: -19px -19px;

           

            .statistic {
                // background-color: black;
                height: 48%;
                width: 48%;
                padding: 2%;
                border-radius: 3px;
                transition: all .2s ease 0s;
                // box-shadow: inset 0px 0px 3px .5px rgb(226, 226, 226);
                // border: 1px solid #ff66005f;
                border: 1px solid #ff6600b0;
                background-image: radial-gradient(rgba(243, 202, 173, 0.209) 1px, transparent 0);
                background-size: 6px 6px;
                background-position: -19.75px -15.5px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                  font-size: 1rem;
                  font-weight: 300;
                  // color: #ff66005f;
                  color: #ff6600e1;
                  text-align: left;
                  transition: all .2s ease 0s;
                  // margin-bottom: 4%;;
                }

                h2 {
                  color: #ff6600;
                  font-weight: 100;
                  font-size: .5rem;
                  font-size: 2rem;
                  // align-self: flex-end;
                  // margin-bottom: 10%;
                }

                #total-messages {
                  // border: 1px solid black;
                  overflow: scroll;
                  
                  // font-size: 200%;
                }

                #total-messages::-webkit-scrollbar {
                  display: none;
                  /* Safari and Chrome */
                }

                .top-icon {
                  height: 6%;
                  width: auto;
                }
                
                #bindings-collection {
                  // border: 1px solid black;
                  padding: 2% 0 0 0;
                  height: 75%;
                  display: flex;
                  flex-direction: column;
                  // align-items: center;
                  flex-wrap: wrap;
                  margin-left: 7%;
                  width: 70%;

                  p {
                    // border: .5px solid black;
                    font-size: .8rem;
                    color: #ff6600e1;
                    transition: all .2s ease 0s;
                    width: 30%;
                    margin-bottom: 5%;
                      font-weight: 300;
                  }
                }

              }

              .statistic:hover {
                border: 1px solid #ff6600;
                  background-image: radial-gradient(rgba(243, 202, 173, 0.209) 1px, transparent 0);
                  background-size: 6px 6px;
                  background-position: -19.75px -15.5px;

                  h4 {
                    color: #ff6600;
                  }

                  #bindings-collection {
                    p {
                    color: #ff6600;
                    }
                  }
              }
          }

        }
      }
  
      #bottom-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 6%;
          padding: 3% 0;
          border-radius: 3px;
        
          height: 50%;
          width: 100%;
          // background-image: radial-gradient(rgba(243, 202, 173, 0.209) 1px, transparent 0);
          //   background-size: 6px 6px;
          //   background-position: -19.75px -15.5px;
  
          .graph {
            border: 1px solid #ff6600;
            border-radius: 3px;
            background-color: white;
            height: 100%;
            width: 80%;
            padding: 1.5%;
            // height: 50%;
            // width: 40%;
            margin-bottom: 1%;
            // border: 1px solid #ff6600;
              background-image: radial-gradient(rgba(243, 202, 173, 0.209) 1px, transparent 0);
              background-size: 6px 6px;
              background-position: -19.75px -15.5px;

              h4 {
                color: #ff6600;
                  font-weight: 300;
                  font-size: 1rem;
              }

              

              .custom-tooltip {
                width: 100%;
                border: 1px solid #ff6600;
                border-radius: 3px;
                padding: .8vw;
                background-color: rgba(255, 255, 255, 0.849);

                h4 {
                  color: #ff6600;
                  font-weight: 300;
                  font-size: .5rem;
                  margin-bottom: 10%;
                }

                p {
                  display: flex;
                  justify-content: space-between;
                  color: #ff6600;
                  font-size: .4rem;
                  margin-bottom: 3%;
                }
              }

              #line-chart {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: .8rem;
                color: #ff6600;

                  // background-color: black;
                }
              
          }
      }
    }
      
    
}


#chart {
  // border: 1px solid black;
  height: 100%;
  width: 100%;
  margin-left: 1.5%;
  // padding: 1.5%;

  #flow-chart {
    width: 100%;
    height: 100%;
    border: 1px solid #ff6600; 
    border-radius: .7%;
    background-color: white;
  } 
}

.react-flow__handle {
  background-color: white;
  border: 1px solid black;
}

.react-flow__minimap {
  // background-color: orange;
  transform: scale(.5, .5) translate(50%, 50%)
  // height: 50px;
  // width: 50px;
}

.react-flow__attribution {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  visibility: hidden;
}

// .react-flow 
// The outermost container 
// .react-flow__renderer 
// The inner container 
// .react-flow__zoompane 
// Zoom & pan pane 
// .react-flow__selectionpane 
// Selection pane 
// .react-flow__selection 
// User selection 
// .react-flow__edges 
// The element containing all edges in the flow 
// .react-flow__edge 
// Applied to each Edge in the flow 
// .react-flow__edge.selected 
// Added to an Edge when selected 
// .react-flow__edge.animated 
// Added to an Edge when its animated prop is true 
// .react-flow__edge-path 
// The SVG <path />element of an Edge 
// .react-flow__edge-text 
// The SVG <text />element of an Edge label 
// .react-flow__edge-textbg 
// The SVG <text />element behind an Edge label 
// .react-flow__connection 
// Applied to the current connection line 
// .react-flow__connection-path 
// The SVG <path />of a connection line 
// .react-flow__nodes 
// The element containing all nodes in the flow 
// .react-flow__node 
// Applied to each Node in the flow 
// .react-flow__node.selected 
// Added to a Node when selected. 
// .react-flow__node-default 
// Added when Node type is "default"
// .react-flow__node-input 
// Added when Node type is "input"
// .react-flow__node-output 
// Added when Node type is "output"
// .react-flow__nodesselection 
// Nodes selection 
// .react-flow__nodesselection-rect 
// Nodes selection rect 
// .react-flow__handle 
// Applied to each <Handle />component 
// .react-flow__handle-top 
// Applied when a handle's Position is set to "top"
//  .react-flow__handle-right 
//  Applied when a handle's Position is set to "right"
//  .react-flow__handle-bottom 
//  Applied when a handle's Position is set to "bottom"
//  .react-flow__handle-left 
//  Applied when a handle's Position is set to "left"
//  .react-flow__handle-connecting 
//  Applied when a connection line is above a handle. 
//  .react-flow__handle-valid 
//  Applied when a connection line is above a handle and the connection is valid 
//  .react-flow__background 
//  Applied to the <Background />component 
//  .react-flow__minimap 
//  Applied to the <MiniMap />component 
//  .react-flow__controls 
//  Applied to the <Controls />component




